force-app/main/default/flows/Account_CalcQuotedRetainer_SS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_base_retainer</name>
        <label>Assign base retainer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Quoted_Retainer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BaseRetainer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Quoted_Retainer_Amount__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Retainer_Fields</name>
        <label>Assign Retainer Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Quoted_Retainer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinalQuotedRetainer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Quoted_Retainer_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinalQuotedRetainer</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Freeze_SS</name>
        <label>Freeze SS</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Quoted_Retainer_Amount__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Quoted_Retainer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BaseRetainer</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Initial_Quoted_Retainer</name>
        <label>Initial Quoted Retainer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Quoted_Retainer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BaseRetainer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_base_retainer</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Retainer</name>
        <label>Retainer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Initial_retainer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Responsible_Attorney__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Credit_Check_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initial_Quoted_Retainer</targetReference>
            </connector>
            <label>Initial retainer</label>
        </rules>
        <rules>
            <name>Simple_Start</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Credit_Check_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Responsible_Attorney__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Simple_Start_Retainer</targetReference>
            </connector>
            <label>Simple Start</label>
        </rules>
    </decisions>
    <decisions>
        <name>Simple_Start_Retainer</name>
        <label>Simple Start Retainer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Credit_Check_Complete__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Credit_Decision__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Failed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Retainer_Fields</targetReference>
            </connector>
            <label>yes</label>
        </rules>
        <rules>
            <name>Freeze</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Credit_Check_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Credit_Decision__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Failed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Freeze_SS</targetReference>
            </connector>
            <label>Freeze</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>BaseRetainer</name>
        <dataType>Number</dataType>
        <expression>IF(
  ISBLANK({!Get_Attorney_Billable_Hr.Hourly_Billing_Rate__c}),
  0,
  ({!Get_Attorney_Billable_Hr.Hourly_Billing_Rate__c}) * 10
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>CreditFactor</name>
        <dataType>Number</dataType>
        <expression>CASE(
    $Record.Credit_Decision__c,
    &quot;Gold - 0% Retainer&quot;,   0,
    &quot;Silver - 50% Retainer&quot;, 0.5,
    &quot;Bronze - 80% Retainer&quot;, 0.8,
    &quot;Full Retainer&quot;,         1,
    &quot;Failed&quot;,                NULL,   
        1                      
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FinalQuotedRetainer</name>
        <dataType>Number</dataType>
        <expression>{!BaseRetainer}*{!CreditFactor}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>SimpleStartDiscountAmount</name>
        <dataType>Number</dataType>
        <expression>{!FinalQuotedRetainer}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Account: CalcQuotedRetainer_SS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account: CalcQuotedRetainer_SS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Attorney_Billable_Hr</name>
        <label>Get Attorney Billable Hr</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Retainer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Responsible_Attorney__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Hourly_Billing_Rate__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Attorney_Billable_Hr</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
