force-app/main/default/flows/Simple_Start_Third_Party_Credit_Check_V2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Trigger_Third_Party_Credit_Check_Action_1</name>
        <label>Trigger Third-Party Credit Check Action 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>TriggerThirdPartyCCFlowAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>TPP_Waiting_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>parentAccountId</name>
            <value>
                <elementReference>parentAccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>thirdPartyAccountId</name>
            <value>
                <elementReference>tpp_recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TriggerThirdPartyCCFlowAction</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>Message</assignToReference>
            <name>message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Status</assignToReference>
            <name>status</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <formulas>
        <name>recordId18</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!recordId})</expression>
    </formulas>
    <interviewLabel>Simple Start : Third Party Credit Check V2 {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Simple Start : Third Party Credit Check V2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_acc</name>
        <label>get acc</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TPP_Application_Form</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Credit_Decision__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>TPP_Application_Form</name>
        <label>TPP Application Form</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>TPP_Consent_Form</targetReference>
        </connector>
        <fields>
            <name>tppForm</name>
            <extensionName>c:tpp_ThirdPartyApplicationForm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <elementReference>varRecordTypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>thirdPartyId</name>
                <value>
                    <elementReference>tpp_recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>tpp_recordId</assignToReference>
                <name>thirdPartyId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>parentAccountId</assignToReference>
                <name>parentAccountId</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TPP_Consent_Form</name>
        <label>TPP Consent Form</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Trigger_Third_Party_Credit_Check_Action_1</targetReference>
        </connector>
        <fields>
            <name>consent</name>
            <extensionName>c:tpp_consentForm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>thirdPartyAccountId</name>
                <value>
                    <elementReference>tpp_recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentAccountId</name>
                <value>
                    <elementReference>parentAccountId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TPP_Credit_Result</name>
        <label>TPP Credit Result</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>decision</name>
            <extensionName>c:tpp_RetainerDecision</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>parentAccountId</name>
                <value>
                    <elementReference>parentAccountId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TPP_Waiting_Screen</name>
        <label>TPP Waiting Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>TPP_Credit_Result</targetReference>
        </connector>
        <fields>
            <name>waitingScreen</name>
            <extensionName>c:tpp_waitingForCreditResult</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>parentAccountId</name>
                <value>
                    <elementReference>parentAccountId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_acc</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>parentAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>get_acc.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tpp_recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0124N000000oTSNQA2</stringValue>
        </value>
    </variables>
</Flow>
