force-app/main/default/flows/SS_Application_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>I_AGREE_to_the_Terms_above</name>
        <choiceText>I AGREE to the Terms above</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I AGREE to the Terms above</stringValue>
        </value>
    </choices>
    <choices>
        <name>I_certify_that_I_have_read_and_agreed_to_the_Consent_to_Electronic_Disclosures</name>
        <choiceText>I certify that I have read and agreed to the Consent to Electronic Disclosures</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I certify that I have read and agreed to the Consent to Electronic Disclosures</stringValue>
        </value>
    </choices>
    <choices>
        <name>Potential_Client</name>
        <choiceText>Potential Client</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Potential Client</stringValue>
        </value>
    </choices>
    <choices>
        <name>Third_Party</name>
        <choiceText>Third Party</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Third Party</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <description>only PC form</description>
    <dynamicChoiceSets>
        <name>state</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>State_A__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>f_CurrentContactId</name>
        <dataType>String</dataType>
        <expression>{!$User.ContactId}</expression>
    </formulas>
    <interviewLabel>SS Application Form {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>SS Application Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PC_Form</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>MiddleName</queriedFields>
        <queriedFields>PersonMobilePhone</queriedFields>
        <queriedFields>PersonEmail</queriedFields>
        <queriedFields>Birthdate__c</queriedFields>
        <queriedFields>PersonMailingStreet</queriedFields>
        <queriedFields>PersonMailingCity</queriedFields>
        <queriedFields>State_A__c</queriedFields>
        <queriedFields>PersonMailingPostalCode</queriedFields>
        <queriedFields>Annual_household_income__c</queriedFields>
        <queriedFields>Social_Security_Number__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>f_CurrentContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Trigger_SS</name>
        <label>Trigger SS</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Credit_Applicant__c</field>
            <value>
                <stringValue>Client</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credit_Check_Submitted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Consent_and_Confirmation</name>
        <label>Consent and Confirmation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Trigger_SS</targetReference>
        </connector>
        <fields>
            <name>Consent</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Consent and Confirmation&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Consent to Electronic Disclosures&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Introduction:&lt;/strong&gt; You are submitting a request for a loan pre-qualification (hereinafter, a “Request”). We can only give you the benefits of our service by conducting our business through the Internet. In order to do this, we need you to consent to our giving you certain disclosures electronically. This document informs you of your rights when receiving legally required disclosures, notices and information (&quot;Disclosures&quot;) from us and the lender(s) to whom your Request is submitted. By completing and submitting a Request through us, you acknowledge receipt of this document and consent to the electronic delivery of such Disclosures.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(24, 24, 24);&quot;&gt;Electronic Communications&lt;/strong&gt;:Any Disclosures related to your Request will be provided to you electronically through our consumer reporting agency and technology provider, Fraud Protection Network Inc., either (i) directly to any email address you provide on your Request (or any updated address you provide later) or (ii) on our website. If Disclosures are provided on our website, we will give you our appropriate website address in advance and send an email or regular mail notice if that address changes. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Consenting to do Business Electronically&lt;/strong&gt;: By checking the box next to &quot;Consent to Electronic Disclosures&quot; and clicking on the &quot;Continue&quot; button, you agree that Fraud Protection Network Inc. (&quot;FPN&quot;) may provide Disclosure to you electronically. Disclosure means any information that we are required by law to provide to you in writing in connection with your loan pre-qualification or any resulting or subsequent transactions with us. Disclosures include any agreement, periodic statement, privacy policy, adverse action notice or other notice we may provide to you.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Hardware and Software Requirements&lt;/strong&gt;: To access, view and retain Disclosures, you will need (i) a valid working e-mail account and (ii) access to a computer, operating system and telecommunication connections to the Internet capable of receiving, accessing, displaying and either printing or storing Disclosures electronically. You also need browser software that supports 256-bit security encryption and Adobe Reader® version 9.0 or higher. We will notify you of any changes to these requirements that create a risk that may prevent you from receiving Disclosures electronically.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Withdrawing Consent&lt;/strong&gt;: You may withdraw consent to electronic Disclosures at any time by calling 855.203.0683, e-mailing us at support@fraudprotectionnetwork.com, or writing to us at 2980 NE 207th Street Unit 509, Aventura, Florida, 33180. We will not charge you a fee for withdrawing your consent. If you withdraw your consent, the legal effectiveness, validity and/or enforceability of prior electronic Disclosures will not be affected. Any withdrawal of your consent will be effective only after we have a reasonable period of time to process your withdrawal.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Paper Copies:&lt;/strong&gt; You may request a paper copy of any Disclosure by contacting us at one of the channels provided above. To the extent permitted by law, there may be a $10 processing fee assessed for each request for a paper copy.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Changes to E-Mail Address&lt;/strong&gt;: You must promptly inform us of any change in your e-mail address by contacting us at one of the channels provided above.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Your Ability to Access Disclosures&lt;/strong&gt;: By checking the box next to &quot;Consent to Electronic Disclosures&quot; and clicking on the &quot;Continue&quot; button, you acknowledge that you can access the Disclosures in the formats described above.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Third-Party Application Usage&lt;/strong&gt;: You understand and consent to the utilization of the information you provide with a third-party credit application associated with MFL. This application is limited to a soft credit check that will not affect your credit score.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirmation1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;Confirmation&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You understand that by clicking the I AGREE box, you are providing &apos;written instructions&apos; to Modern Family Law under the Fair Credit Reporting Act, authorizing Modern Family Law to obtain information from your personal credit profile or other information from Experian. You authorize Modern Family Law to obtain such information solely to conduct a pre-qualification for credit.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirmation</name>
            <choiceReferences>I_certify_that_I_have_read_and_agreed_to_the_Consent_to_Electronic_Disclosures</choiceReferences>
            <choiceReferences>I_AGREE_to_the_Terms_above</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Confirmation</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PC_Form</name>
        <label>PC Form</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Consent_and_Confirmation</targetReference>
        </connector>
        <fields>
            <name>PCForm1</name>
            <extensionName>c:ssClientApplicationForm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Account.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0124N000000oTSNQA2</stringValue>
        </value>
    </variables>
</Flow>
