force-app/main/default/flows/SS_flow3.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CB1_Send_Email_Action_20</name>
        <label>CB1 Send Email Action 20</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varPhoneAttyEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>reception@modernfamilylaw.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your SimpleStart Result</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;&lt;img src=&quot;https://modernfamilylaw--simplestar.sandbox.file.force.com/sfc/servlet.shepherd/version/download/068VB000008KjUE?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;SimpleStartEmailHeaders_20.jpg&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Hi {!$Record.FirstName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Thank you for submitting your application for a reduced retainer though our SimpleStart program. We want to let you know that you do not qualify for a reduced retainer at this time. While you don’t qualify for our SimpleStart program, we would still love to work with you and to help you with your family law case using our standard retainer for the attorney/LLP you selected:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Name: &lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;{!$Record.Phone_Attorney_First_Name_A__c} {!$Record.Phone_Attorney_Last_Name_A__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Standard Retainer&lt;/strong&gt;&lt;span style=&quot;color: rgb(78, 77, 77);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;:&amp;nbsp;{!$Record.Quoted_Retainer__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Phone :&lt;/strong&gt;&lt;strong style=&quot;color: rgb(78, 77, 77);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;{!$Record.Phone_Attorney_Mobile_A__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Email :&lt;/strong&gt;&lt;strong style=&quot;color: rgb(78, 77, 77);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;{!$Record.Phone_Attorney_Email_A__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Someone from our team will also reach out to get things started if we haven&apos;t heard from you. If you have questions or concerns before hiring us, we&apos;re happy to chat more first.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;If you have more questions about our SimpleStart™ Program, our finance team is happy to help.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;Sincerely,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://modernfamilylaw.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Modern Family Law&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;(866) 409-3025&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;ModernFamilyLaw.com&lt;/span&gt;&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attachmentId</name>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Phone_Attorney_A__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>CB_Send_Email_Action_20</name>
        <label>CB Send Email Action 20</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varRespAttyEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>reception@modernfamilylaw.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your SimpleStart Result</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;&lt;img src=&quot;https://modernfamilylaw--simplestar.sandbox.file.force.com/sfc/servlet.shepherd/version/download/068VB000008KjUE?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;SimpleStartEmailHeaders_20.jpg&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;Hi {!$Record.FirstName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;Thank you for submitting your application for a reduced retainer though our SimpleStart program. We want to let you know that you do not qualify for a reduced retainer at this time. While you don’t qualify for our SimpleStart program, we would still love to work with you and to help you with your family law case using our standard retainer for the attorney/LLP you selected:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;Name: &lt;/strong&gt;&lt;span style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;{!$Record.Phone_Attorney_First_Name_A__c} {!$Record.Phone_Attorney_Last_Name_A__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;Standard Retainer&lt;/strong&gt;&lt;span style=&quot;color: rgb(78, 77, 77);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;:&amp;nbsp;{!$Record.Quoted_Retainer__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;Phone :&lt;/strong&gt;&lt;strong style=&quot;color: rgb(78, 77, 77);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;{!$Record.Phone_Attorney_Mobile_A__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;Email :&lt;/strong&gt;&lt;strong style=&quot;color: rgb(78, 77, 77);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;{!$Record.Phone_Attorney_Email_A__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;Someone from our team will also reach out to get things started if we haven&apos;t heard from you. If you have questions or concerns before hiring us, we&apos;re happy to chat more first.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;If you have more questions about our SimpleStart™ Program, our finance team is happy to help.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Sincerely,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://modernfamilylaw.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Modern Family Law&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;(866) 409-3025&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;ModernFamilyLaw.com&lt;/span&gt;&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attachmentId</name>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Responsible_Attorney__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>CF1_Send_Email_Action_0</name>
        <label>CF1 Send Email Action 0</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varPhoneAttyEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>reception@modernfamilylaw.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your SimpleStart Result</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;&lt;img src=&quot;https://modernfamilylaw--simplestar.sandbox.file.force.com/sfc/servlet.shepherd/version/download/068VB000008KjZ3?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;SimpleStartEmailHeaders.jpg&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;Hi {!$Record.FirstName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;Thank you for submitting your application for a reduced retainer though our SimpleStart program. We want to let you know that you do not qualify for a reduced retainer at this time. While you don’t qualify for our SimpleStart program, we would still love to work with you and to help you with your family law case using our standard retainer for the attorney/LLP you selected:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;Name: &lt;/strong&gt;&lt;span style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;{!$Record.Phone_Attorney_First_Name_A__c} {!$Record.Phone_Attorney_Last_Name_A__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;Standard Retainer&lt;/strong&gt;&lt;span style=&quot;color: rgb(78, 77, 77);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;:&amp;nbsp;{!$Record.Quoted_Retainer__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;Phone :&lt;/strong&gt;&lt;strong style=&quot;color: rgb(78, 77, 77);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;{!$Record.Phone_Attorney_Mobile_A__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;Email :&lt;/strong&gt;&lt;strong style=&quot;color: rgb(78, 77, 77);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;{!$Record.Phone_Attorney_Email_A__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;Someone from our team will also reach out to get things started if we haven&apos;t heard from you. If you have questions or concerns before hiring us, we&apos;re happy to chat more first.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;If you have more questions about our SimpleStart™ Program, our finance team is happy to help.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Sincerely,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://modernfamilylaw.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Modern Family Law&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;(866) 409-3025&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;ModernFamilyLaw.com&lt;/span&gt;&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attachmentId</name>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Phone_Attorney_A__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>CF_Send_Email_Action_0</name>
        <label>CF Send Email Action 0</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varRespAttyEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>reception@modernfamilylaw.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your SimpleStart Result</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;&lt;img src=&quot;https://modernfamilylaw--simplestar.sandbox.file.force.com/sfc/servlet.shepherd/version/download/068VB000008KjZ3?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;SimpleStartEmailHeaders.jpg&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Hi {!$Record.FirstName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Thank you for submitting your application for a reduced retainer though our SimpleStart program. We want to let you know that you do not qualify for a reduced retainer at this time. While you don’t qualify for our SimpleStart program, we would still love to work with you and to help you with your family law case using our standard retainer for the attorney/LLP you selected:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Name: &lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;{!$Record.Phone_Attorney_First_Name_A__c} {!$Record.Phone_Attorney_Last_Name_A__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Standard Retainer&lt;/strong&gt;&lt;span style=&quot;color: rgb(78, 77, 77);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;:&amp;nbsp;{!$Record.Quoted_Retainer__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Phone :&lt;/strong&gt;&lt;strong style=&quot;color: rgb(78, 77, 77);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;{!$Record.Phone_Attorney_Mobile_A__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Email :&lt;/strong&gt;&lt;strong style=&quot;color: rgb(78, 77, 77);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;{!$Record.Phone_Attorney_Email_A__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Someone from our team will also reach out to get things started if we haven&apos;t heard from you. If you have questions or concerns before hiring us, we&apos;re happy to chat more first.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;If you have more questions about our SimpleStart™ Program, our finance team is happy to help.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;Sincerely,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://modernfamilylaw.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;Modern Family Law&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;(866) 409-3025&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;ModernFamilyLaw.com&lt;/span&gt;&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attachmentId</name>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Responsible_Attorney__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>CFR1_Send_Email_Action_0</name>
        <label>CFR1 Send Email Action 0</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varPhoneAttyEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>reception@modernfamilylaw.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your SimpleStart Result</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;&lt;img src=&quot;https://modernfamilylaw--simplestar.sandbox.file.force.com/sfc/servlet.shepherd/version/download/068VB000008KjZ3?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;SimpleStartEmailHeaders.jpg&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;Hi {!$Record.FirstName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;Thank you for submitting your application for a reduced retainer though our SimpleStart program. We want to let you know that you do not qualify for a reduced retainer at this time. While you don’t qualify for our SimpleStart program, we would still love to work with you and to help you with your family law case using our standard retainer for the attorney/LLP you selected:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;Name: &lt;/strong&gt;&lt;span style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;{!$Record.Phone_Attorney_First_Name_A__c} {!$Record.Phone_Attorney_Last_Name_A__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;Standard Retainer&lt;/strong&gt;&lt;span style=&quot;color: rgb(78, 77, 77);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;:&amp;nbsp;{!$Record.Quoted_Retainer__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;Phone :&lt;/strong&gt;&lt;strong style=&quot;color: rgb(78, 77, 77);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;{!$Record.Phone_Attorney_Mobile_A__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;Email :&lt;/strong&gt;&lt;strong style=&quot;color: rgb(78, 77, 77);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;{!$Record.Phone_Attorney_Email_A__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;Someone from our team will also reach out to get things started if we haven&apos;t heard from you. If you have questions or concerns before hiring us, we&apos;re happy to chat more first.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;If you have more questions about our SimpleStart™ Program, our finance team is happy to help.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Sincerely,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://modernfamilylaw.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Modern Family Law&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;(866) 409-3025&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;ModernFamilyLaw.com&lt;/span&gt;&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attachmentId</name>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Phone_Attorney_A__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>CFR_Send_Email_Action_0</name>
        <label>CFR Send Email Action 0</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varRespAttyEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>reception@modernfamilylaw.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your SimpleStart Result</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;&lt;img src=&quot;https://modernfamilylaw--simplestar.sandbox.file.force.com/sfc/servlet.shepherd/version/download/068VB000008KjZ3?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;SimpleStartEmailHeaders.jpg&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;Hi {!$Record.FirstName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;Thank you for submitting your application for a reduced retainer though our SimpleStart program. We want to let you know that you do not qualify for a reduced retainer at this time. While you don’t qualify for our SimpleStart program, we would still love to work with you and to help you with your family law case using our standard retainer for the attorney/LLP you selected:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;Name: &lt;/strong&gt;&lt;span style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;{!$Record.Phone_Attorney_First_Name_A__c} {!$Record.Phone_Attorney_Last_Name_A__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;Standard Retainer&lt;/strong&gt;&lt;span style=&quot;color: rgb(78, 77, 77);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;:&amp;nbsp;{!$Record.Quoted_Retainer__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;Phone :&lt;/strong&gt;&lt;strong style=&quot;color: rgb(78, 77, 77);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;{!$Record.Phone_Attorney_Mobile_A__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;Email :&lt;/strong&gt;&lt;strong style=&quot;color: rgb(78, 77, 77);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;{!$Record.Phone_Attorney_Email_A__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;Someone from our team will also reach out to get things started if we haven&apos;t heard from you. If you have questions or concerns before hiring us, we&apos;re happy to chat more first.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;If you have more questions about our SimpleStart™ Program, our finance team is happy to help.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Sincerely,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://modernfamilylaw.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Modern Family Law&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;(866) 409-3025&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;ModernFamilyLaw.com&lt;/span&gt;&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attachmentId</name>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Responsible_Attorney__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>CG1_Send_Email_Action_0</name>
        <label>CG1 Send Email Action 0</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varPhoneAttyEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>reception@modernfamilylaw.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your SimpleStart Result</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;&lt;img src=&quot;https://modernfamilylaw--simplestar.sandbox.file.force.com/sfc/servlet.shepherd/version/download/068VB000008KjUE?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;SimpleStartEmailHeaders_20.jpg&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Hi {!$Record.FirstName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Thank you for submitting your application for a reduced retainer though our SimpleStart program. We want to let you know that you do not qualify for a reduced retainer at this time. While you don’t qualify for our SimpleStart program, we would still love to work with you and to help you with your family law case using our standard retainer for the attorney/LLP you selected:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Name: &lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;{!$Record.Phone_Attorney_First_Name_A__c} {!$Record.Phone_Attorney_Last_Name_A__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Standard Retainer&lt;/strong&gt;&lt;span style=&quot;color: rgb(78, 77, 77);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;:&amp;nbsp;{!$Record.Quoted_Retainer__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Phone :&lt;/strong&gt;&lt;strong style=&quot;color: rgb(78, 77, 77);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;{!$Record.Phone_Attorney_Mobile_A__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Email :&lt;/strong&gt;&lt;strong style=&quot;color: rgb(78, 77, 77);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;{!$Record.Phone_Attorney_Email_A__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Someone from our team will also reach out to get things started if we haven&apos;t heard from you. If you have questions or concerns before hiring us, we&apos;re happy to chat more first.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;If you have more questions about our SimpleStart™ Program, our finance team is happy to help.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;Sincerely,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://modernfamilylaw.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Modern Family Law&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;(866) 409-3025&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;ModernFamilyLaw.com&lt;/span&gt;&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attachmentId</name>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Phone_Attorney_A__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>CG_Send_Email_Action_0</name>
        <label>CG Send Email Action 0</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varRespAttyEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>reception@modernfamilylaw.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your SimpleStart Result</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;&lt;img src=&quot;https://modernfamilylaw--simplestar.sandbox.file.force.com/sfc/servlet.shepherd/version/download/068VB000008KjUE?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;SimpleStartEmailHeaders_20.jpg&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Hi {!$Record.FirstName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Thank you for submitting your application for a reduced retainer though our SimpleStart program. We want to let you know that you do not qualify for a reduced retainer at this time. While you don’t qualify for our SimpleStart program, we would still love to work with you and to help you with your family law case using our standard retainer for the attorney/LLP you selected:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Name: &lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;{!$Record.Phone_Attorney_First_Name_A__c} {!$Record.Phone_Attorney_Last_Name_A__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Standard Retainer&lt;/strong&gt;&lt;span style=&quot;color: rgb(78, 77, 77);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;:&amp;nbsp;{!$Record.Quoted_Retainer__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Phone :&lt;/strong&gt;&lt;strong style=&quot;color: rgb(78, 77, 77);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;{!$Record.Phone_Attorney_Mobile_A__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Email :&lt;/strong&gt;&lt;strong style=&quot;color: rgb(78, 77, 77);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;{!$Record.Phone_Attorney_Email_A__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Someone from our team will also reach out to get things started if we haven&apos;t heard from you. If you have questions or concerns before hiring us, we&apos;re happy to chat more first.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;If you have more questions about our SimpleStart™ Program, our finance team is happy to help.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;Sincerely,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://modernfamilylaw.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Modern Family Law&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;(866) 409-3025&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;ModernFamilyLaw.com&lt;/span&gt;&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attachmentId</name>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Responsible_Attorney__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Client_Send_Email_Action_0</name>
        <label>Client Send Email Action 0</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>CG_of_Responsible_Att</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>reception@modernfamilylaw.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useEmailTemplate</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XTP0000089Vxd2AE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.PersonContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Client_Send_Email_Action_100</name>
        <label>Client Send Email Action 100</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>CFR_of_Responsible_Att</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>reception@modernfamilylaw.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useEmailTemplate</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XTP0000089WC92AM</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.PersonContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Client_Send_Email_Action_20</name>
        <label>Client Send Email Action 20</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>CB_of_Responsible_Att</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>reception@modernfamilylaw.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useEmailTemplate</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XTP0000089Vkj2AE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.PersonContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Client_Send_Email_Action_50</name>
        <label>Client Send Email Action 50</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>CS_of_Responsible_Att</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>reception@modernfamilylaw.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useEmailTemplate</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XTP00000891YF2AY</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.PersonContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Client_Send_Email_Action_Freeze</name>
        <label>Client Send Email Action Freeze</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>CF_of_Responsible_Att</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>reception@modernfamilylaw.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useEmailTemplate</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XTP0000093rFV2AY</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.PersonContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>CS1_Send_Email_Action_50</name>
        <label>CS1 Send Email Action 50</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varPhoneAttyEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>reception@modernfamilylaw.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your SimpleStart Result</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;&lt;img src=&quot;https://modernfamilylaw--simplestar.sandbox.file.force.com/sfc/servlet.shepherd/version/download/068VB000008KjUE?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;SimpleStartEmailHeaders_20.jpg&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Hi {!$Record.FirstName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Thank you for submitting your application for a reduced retainer though our SimpleStart program. We want to let you know that you do not qualify for a reduced retainer at this time. While you don’t qualify for our SimpleStart program, we would still love to work with you and to help you with your family law case using our standard retainer for the attorney/LLP you selected:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Name: &lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;{!$Record.Phone_Attorney_First_Name_A__c} {!$Record.Phone_Attorney_Last_Name_A__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Standard Retainer&lt;/strong&gt;&lt;span style=&quot;color: rgb(78, 77, 77);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;:&amp;nbsp;{!$Record.Quoted_Retainer__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Phone :&lt;/strong&gt;&lt;strong style=&quot;color: rgb(78, 77, 77);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;{!$Record.Phone_Attorney_Mobile_A__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Email :&lt;/strong&gt;&lt;strong style=&quot;color: rgb(78, 77, 77);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;{!$Record.Phone_Attorney_Email_A__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Someone from our team will also reach out to get things started if we haven&apos;t heard from you. If you have questions or concerns before hiring us, we&apos;re happy to chat more first.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;If you have more questions about our SimpleStart™ Program, our finance team is happy to help.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;Sincerely,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://modernfamilylaw.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Modern Family Law&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;(866) 409-3025&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;ModernFamilyLaw.com&lt;/span&gt;&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attachmentId</name>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Phone_Attorney_A__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>CS_Send_Email_Action_50</name>
        <label>CS Send Email Action 50</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varRespAttyEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>reception@modernfamilylaw.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your SimpleStart Result</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;&lt;img src=&quot;https://modernfamilylaw--simplestar.sandbox.file.force.com/sfc/servlet.shepherd/version/download/068VB000008KjUE?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;SimpleStartEmailHeaders_20.jpg&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Hi {!$Record.FirstName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Thank you for submitting your application for a reduced retainer though our SimpleStart program. We want to let you know that you do not qualify for a reduced retainer at this time. While you don’t qualify for our SimpleStart program, we would still love to work with you and to help you with your family law case using our standard retainer for the attorney/LLP you selected:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Name: &lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;{!$Record.Phone_Attorney_First_Name_A__c} {!$Record.Phone_Attorney_Last_Name_A__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Standard Retainer&lt;/strong&gt;&lt;span style=&quot;color: rgb(78, 77, 77);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;:&amp;nbsp;{!$Record.Quoted_Retainer__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Phone :&lt;/strong&gt;&lt;strong style=&quot;color: rgb(78, 77, 77);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;{!$Record.Phone_Attorney_Mobile_A__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Email :&lt;/strong&gt;&lt;strong style=&quot;color: rgb(78, 77, 77);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;{!$Record.Phone_Attorney_Email_A__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Someone from our team will also reach out to get things started if we haven&apos;t heard from you. If you have questions or concerns before hiring us, we&apos;re happy to chat more first.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;If you have more questions about our SimpleStart™ Program, our finance team is happy to help.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;Sincerely,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://modernfamilylaw.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Modern Family Law&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;(866) 409-3025&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;ModernFamilyLaw.com&lt;/span&gt;&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attachmentId</name>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Responsible_Attorney__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>TPFR1_Send_Email_Action_100</name>
        <label>TPFR1 Send Email Action 100</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varPhoneAttyEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>reception@modernfamilylaw.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your SimpleStart Result</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;&lt;img src=&quot;https://modernfamilylaw--simplestar.sandbox.file.force.com/sfc/servlet.shepherd/version/download/068VB000008KjZ3?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;SimpleStartEmailHeaders.jpg&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Hi &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;{!$Record.FirstName}&lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Thank you for submitting your application for a reduced retainer though our SimpleStart program. We want to let you know that you do not qualify for a reduced retainer at this time. While you don’t qualify for our SimpleStart program, we would still love to work with you and to help you with your family law case using our standard retainer for the attorney/LLP you selected:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Name: &lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;{!$Record.Phone_Attorney_First_Name_A__c} {!$Record.Phone_Attorney_Last_Name_A__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Standard Retainer&lt;/strong&gt;&lt;span style=&quot;color: rgb(78, 77, 77);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;:&amp;nbsp;{!$Record.Quoted_Retainer__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Phone :&lt;/strong&gt;&lt;strong style=&quot;color: rgb(78, 77, 77);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;{!$Record.Phone_Attorney_Mobile_A__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Email :&lt;/strong&gt;&lt;strong style=&quot;color: rgb(78, 77, 77);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;{!$Record.Phone_Attorney_Email_A__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Someone from our team will also reach out to get things started if we haven&apos;t heard from you. If you have questions or concerns before hiring us, we&apos;re happy to chat more first.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;If you have more questions about our SimpleStart™ Program, our finance team is happy to help.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;Sincerely,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://modernfamilylaw.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Modern Family Law&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;(866) 409-3025&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;ModernFamilyLaw.com&lt;/span&gt;&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attachmentId</name>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Phone_Attorney_A__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>TPFR_Send_Email_Action_100</name>
        <label>TPFR Send Email Action 100</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varRespAttyEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>reception@modernfamilylaw.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your SimpleStart Result</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;&lt;img src=&quot;https://modernfamilylaw--simplestar.sandbox.file.force.com/sfc/servlet.shepherd/version/download/068VB000008KjZ3?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;SimpleStartEmailHeaders.jpg&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Hi &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;{!$Record.FirstName}&lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Thank you for submitting your application for a reduced retainer though our SimpleStart program. We want to let you know that you do not qualify for a reduced retainer at this time. While you don’t qualify for our SimpleStart program, we would still love to work with you and to help you with your family law case using our standard retainer for the attorney/LLP you selected:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Name: &lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;{!$Record.Phone_Attorney_First_Name_A__c} {!$Record.Phone_Attorney_Last_Name_A__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Standard Retainer&lt;/strong&gt;&lt;span style=&quot;color: rgb(78, 77, 77);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;:&amp;nbsp;{!$Record.Quoted_Retainer__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Phone :&lt;/strong&gt;&lt;strong style=&quot;color: rgb(78, 77, 77);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;{!$Record.Phone_Attorney_Mobile_A__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Email :&lt;/strong&gt;&lt;strong style=&quot;color: rgb(78, 77, 77);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;{!$Record.Phone_Attorney_Email_A__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Someone from our team will also reach out to get things started if we haven&apos;t heard from you. If you have questions or concerns before hiring us, we&apos;re happy to chat more first.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;If you have more questions about our SimpleStart™ Program, our finance team is happy to help.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;Sincerely,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://modernfamilylaw.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Modern Family Law&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;(866) 409-3025&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;ModernFamilyLaw.com&lt;/span&gt;&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attachmentId</name>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Responsible_Attorney__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>TPG1_Send_Email_Action_0</name>
        <label>TPG1 Send Email Action 0</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varPhoneAttyEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>reception@modernfamilylaw.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your SimpleStart Result</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;&lt;img src=&quot;https://modernfamilylaw--simplestar.sandbox.file.force.com/sfc/servlet.shepherd/version/download/068VB000008KjUE?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;SimpleStartEmailHeaders_20.jpg&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Hi {!$Record.FirstName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Thank you for submitting your application for a reduced retainer though our SimpleStart program. We want to let you know that you do not qualify for a reduced retainer at this time. While you don’t qualify for our SimpleStart program, we would still love to work with you and to help you with your family law case using our standard retainer for the attorney/LLP you selected:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Name: &lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;{!$Record.Phone_Attorney_First_Name_A__c} {!$Record.Phone_Attorney_Last_Name_A__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Standard Retainer&lt;/strong&gt;&lt;span style=&quot;color: rgb(78, 77, 77);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;:&amp;nbsp;{!$Record.Quoted_Retainer__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Phone :&lt;/strong&gt;&lt;strong style=&quot;color: rgb(78, 77, 77);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;{!$Record.Phone_Attorney_Mobile_A__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Email :&lt;/strong&gt;&lt;strong style=&quot;color: rgb(78, 77, 77);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;{!$Record.Phone_Attorney_Email_A__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Someone from our team will also reach out to get things started if we haven&apos;t heard from you. If you have questions or concerns before hiring us, we&apos;re happy to chat more first.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;If you have more questions about our SimpleStart™ Program, our finance team is happy to help.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;Sincerely,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://modernfamilylaw.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Modern Family Law&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;(866) 409-3025&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;ModernFamilyLaw.com&lt;/span&gt;&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attachmentId</name>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Phone_Attorney_A__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>TPG_Send_Email_Action_0</name>
        <label>TPG Send Email Action 0</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varRespAttyEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>reception@modernfamilylaw.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your SimpleStart Result</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;&lt;img src=&quot;https://modernfamilylaw--simplestar.sandbox.file.force.com/sfc/servlet.shepherd/version/download/068VB000008KjUE?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;SimpleStartEmailHeaders_20.jpg&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Hi {!$Record.FirstName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Thank you for submitting your application for a reduced retainer though our SimpleStart program. We want to let you know that you do not qualify for a reduced retainer at this time. While you don’t qualify for our SimpleStart program, we would still love to work with you and to help you with your family law case using our standard retainer for the attorney/LLP you selected:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Name: &lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;{!$Record.Phone_Attorney_First_Name_A__c} {!$Record.Phone_Attorney_Last_Name_A__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Standard Retainer&lt;/strong&gt;&lt;span style=&quot;color: rgb(78, 77, 77);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;:&amp;nbsp;{!$Record.Quoted_Retainer__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Phone :&lt;/strong&gt;&lt;strong style=&quot;color: rgb(78, 77, 77);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;{!$Record.Phone_Attorney_Mobile_A__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Email :&lt;/strong&gt;&lt;strong style=&quot;color: rgb(78, 77, 77);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;{!$Record.Phone_Attorney_Email_A__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Someone from our team will also reach out to get things started if we haven&apos;t heard from you. If you have questions or concerns before hiring us, we&apos;re happy to chat more first.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;If you have more questions about our SimpleStart™ Program, our finance team is happy to help.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;Sincerely,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://modernfamilylaw.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Modern Family Law&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;(866) 409-3025&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;ModernFamilyLaw.com&lt;/span&gt;&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attachmentId</name>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Responsible_Attorney__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>TPP_Send_Email_Action_0</name>
        <label>TPP Send Email Action 0</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>TPG_Responsible_Att</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccRecipientAddressList</name>
            <value>
                <elementReference>varCCTPPEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>reception@modernfamilylaw.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useEmailTemplate</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XTP0000089Vxd2AE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.PersonContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>TPP_Send_Email_Action_100</name>
        <label>TPP Send Email Action 100</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>TPFR_Responsible_Att</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccRecipientAddressList</name>
            <value>
                <elementReference>varCCTPPEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>reception@modernfamilylaw.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useEmailTemplate</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XTP0000089WC92AM</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.PersonContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>TPP_Send_Email_Action_20</name>
        <label>TPP Send Email Action 20</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>TBB_Responsible_Att</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccRecipientAddressList</name>
            <value>
                <elementReference>varCCTPPEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>reception@modernfamilylaw.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useEmailTemplate</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XTP0000089Vkj2AE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.PersonContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>TPP_Send_Email_Action_50</name>
        <label>TPP Send Email Action 50</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>TPS_Responsible_Att</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccRecipientAddressList</name>
            <value>
                <elementReference>varCCTPPEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>reception@modernfamilylaw.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useEmailTemplate</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XTP00000891YF2AY</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.PersonContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>TPP_Send_Email_Action_Freeze</name>
        <label>TPP Send Email Action Freeze</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>TPPF_Responsible_Att</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccRecipientAddressList</name>
            <value>
                <elementReference>varCCTPPEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>reception@modernfamilylaw.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useEmailTemplate</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XTP0000093rFV2AY</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.PersonContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>TPPB1_Send_Email_Action_20</name>
        <label>TPPB1 Send Email Action 20</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varPhoneAttyEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>reception@modernfamilylaw.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your SimpleStart Result</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;&lt;img src=&quot;https://modernfamilylaw--simplestar.sandbox.file.force.com/sfc/servlet.shepherd/version/download/068VB000008KjUE?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;SimpleStartEmailHeaders_20.jpg&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Hi {!$Record.FirstName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Thank you for submitting your application for a reduced retainer though our SimpleStart program. We want to let you know that you do not qualify for a reduced retainer at this time. While you don’t qualify for our SimpleStart program, we would still love to work with you and to help you with your family law case using our standard retainer for the attorney/LLP you selected:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Name: &lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;{!$Record.Phone_Attorney_First_Name_A__c} {!$Record.Phone_Attorney_Last_Name_A__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Standard Retainer&lt;/strong&gt;&lt;span style=&quot;color: rgb(78, 77, 77);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;:&amp;nbsp;{!$Record.Quoted_Retainer__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Phone :&lt;/strong&gt;&lt;strong style=&quot;color: rgb(78, 77, 77);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;{!$Record.Phone_Attorney_Mobile_A__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Email :&lt;/strong&gt;&lt;strong style=&quot;color: rgb(78, 77, 77);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;{!$Record.Phone_Attorney_Email_A__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Someone from our team will also reach out to get things started if we haven&apos;t heard from you. If you have questions or concerns before hiring us, we&apos;re happy to chat more first.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;If you have more questions about our SimpleStart™ Program, our finance team is happy to help.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;Sincerely,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://modernfamilylaw.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Modern Family Law&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;(866) 409-3025&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;ModernFamilyLaw.com&lt;/span&gt;&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attachmentId</name>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Phone_Attorney_A__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>TPPB_Send_Email_Action_20</name>
        <label>TPPB Send Email Action 20</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varRespAttyEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>reception@modernfamilylaw.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your SimpleStart Result</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;&lt;img src=&quot;https://modernfamilylaw--simplestar.sandbox.file.force.com/sfc/servlet.shepherd/version/download/068VB000008KjUE?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;SimpleStartEmailHeaders_20.jpg&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Hi {!$Record.FirstName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Thank you for submitting your application for a reduced retainer though our SimpleStart program. We want to let you know that you do not qualify for a reduced retainer at this time. While you don’t qualify for our SimpleStart program, we would still love to work with you and to help you with your family law case using our standard retainer for the attorney/LLP you selected:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Name: &lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;{!$Record.Phone_Attorney_First_Name_A__c} {!$Record.Phone_Attorney_Last_Name_A__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Standard Retainer&lt;/strong&gt;&lt;span style=&quot;color: rgb(78, 77, 77);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;:&amp;nbsp;{!$Record.Quoted_Retainer__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Phone :&lt;/strong&gt;&lt;strong style=&quot;color: rgb(78, 77, 77);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;{!$Record.Phone_Attorney_Mobile_A__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Email :&lt;/strong&gt;&lt;strong style=&quot;color: rgb(78, 77, 77);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;{!$Record.Phone_Attorney_Email_A__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Someone from our team will also reach out to get things started if we haven&apos;t heard from you. If you have questions or concerns before hiring us, we&apos;re happy to chat more first.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;If you have more questions about our SimpleStart™ Program, our finance team is happy to help.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;Sincerely,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://modernfamilylaw.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Modern Family Law&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;(866) 409-3025&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;ModernFamilyLaw.com&lt;/span&gt;&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attachmentId</name>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Responsible_Attorney__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>TPPF1_Send_Email_Action_Freeze</name>
        <label>TPPF1 Send Email Action Freeze</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varPhoneAttyEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>reception@modernfamilylaw.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your SimpleStart Result</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;&lt;img src=&quot;https://modernfamilylaw--simplestar.sandbox.file.force.com/sfc/servlet.shepherd/version/download/068VB000008KjZ3?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;SimpleStartEmailHeaders.jpg&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;Hi &lt;/span&gt;&lt;strong style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;{!$Record.FirstName}&lt;/strong&gt;&lt;span style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;Thank you for submitting your application for a reduced retainer though our SimpleStart program. We want to let you know that you do not qualify for a reduced retainer at this time. While you don’t qualify for our SimpleStart program, we would still love to work with you and to help you with your family law case using our standard retainer for the attorney/LLP you selected:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;Name: &lt;/strong&gt;&lt;span style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;{!$Record.Phone_Attorney_First_Name_A__c} {!$Record.Phone_Attorney_Last_Name_A__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;Standard Retainer&lt;/strong&gt;&lt;span style=&quot;color: rgb(78, 77, 77);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;:&amp;nbsp;{!$Record.Quoted_Retainer__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;Phone :&lt;/strong&gt;&lt;strong style=&quot;color: rgb(78, 77, 77);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;{!$Record.Phone_Attorney_Mobile_A__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;Email :&lt;/strong&gt;&lt;strong style=&quot;color: rgb(78, 77, 77);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;{!$Record.Phone_Attorney_Email_A__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;Someone from our team will also reach out to get things started if we haven&apos;t heard from you. If you have questions or concerns before hiring us, we&apos;re happy to chat more first.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;If you have more questions about our SimpleStart™ Program, our finance team is happy to help.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Sincerely,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://ModernFamilyLaw.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Modern Family Law&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;(866) 409-3025&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;ModernFamilyLaw.com&lt;/span&gt;&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attachmentId</name>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Phone_Attorney_A__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>TPPF_Send_Email_Action_Freeze</name>
        <label>TPPF Send Email Action Freeze</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varRespAttyEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>reception@modernfamilylaw.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your SimpleStart Result</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;&lt;img src=&quot;https://modernfamilylaw--simplestar.sandbox.file.force.com/sfc/servlet.shepherd/version/download/068VB000008KjZ3?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;SimpleStartEmailHeaders.jpg&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;Hi &lt;/span&gt;&lt;strong style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;{!$Record.FirstName}&lt;/strong&gt;&lt;span style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;Thank you for submitting your application for a reduced retainer though our SimpleStart program. We want to let you know that you do not qualify for a reduced retainer at this time. While you don’t qualify for our SimpleStart program, we would still love to work with you and to help you with your family law case using our standard retainer for the attorney/LLP you selected:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;Name: &lt;/strong&gt;&lt;span style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;{!$Record.Phone_Attorney_First_Name_A__c} {!$Record.Phone_Attorney_Last_Name_A__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;Standard Retainer&lt;/strong&gt;&lt;span style=&quot;color: rgb(78, 77, 77);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;:&amp;nbsp;{!$Record.Quoted_Retainer__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;Phone :&lt;/strong&gt;&lt;strong style=&quot;color: rgb(78, 77, 77);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;{!$Record.Phone_Attorney_Mobile_A__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;Email :&lt;/strong&gt;&lt;strong style=&quot;color: rgb(78, 77, 77);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;{!$Record.Phone_Attorney_Email_A__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;Someone from our team will also reach out to get things started if we haven&apos;t heard from you. If you have questions or concerns before hiring us, we&apos;re happy to chat more first.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;If you have more questions about our SimpleStart™ Program, our finance team is happy to help.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Sincerely,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://modernfamilylaw.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Modern Family Law&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;(866) 409-3025&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;ModernFamilyLaw.com&lt;/span&gt;&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attachmentId</name>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Responsible_Attorney__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>TPS1_Send_Email_Action_50</name>
        <label>TPS1 Send Email Action 50</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varPhoneAttyEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>reception@modernfamilylaw.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your SimpleStart Result</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;&lt;img src=&quot;https://modernfamilylaw--simplestar.sandbox.file.force.com/sfc/servlet.shepherd/version/download/068VB000008KjUE?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;SimpleStartEmailHeaders_20.jpg&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Hi {!$Record.FirstName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Thank you for submitting your application for a reduced retainer though our SimpleStart program. We want to let you know that you do not qualify for a reduced retainer at this time. While you don’t qualify for our SimpleStart program, we would still love to work with you and to help you with your family law case using our standard retainer for the attorney/LLP you selected:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Name: &lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;{!$Record.Phone_Attorney_First_Name_A__c} {!$Record.Phone_Attorney_Last_Name_A__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Standard Retainer&lt;/strong&gt;&lt;span style=&quot;color: rgb(78, 77, 77);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;:&amp;nbsp;{!$Record.Quoted_Retainer__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Phone :&lt;/strong&gt;&lt;strong style=&quot;color: rgb(78, 77, 77);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;{!$Record.Phone_Attorney_Mobile_A__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Email :&lt;/strong&gt;&lt;strong style=&quot;color: rgb(78, 77, 77);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;{!$Record.Phone_Attorney_Email_A__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Someone from our team will also reach out to get things started if we haven&apos;t heard from you. If you have questions or concerns before hiring us, we&apos;re happy to chat more first.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;If you have more questions about our SimpleStart™ Program, our finance team is happy to help.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;Sincerely,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://modernfamilylaw.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Modern Family Law&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;(866) 409-3025&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;ModernFamilyLaw.com&lt;/span&gt;&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attachmentId</name>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Phone_Attorney_A__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>TPS_Send_Email_Action_50</name>
        <label>TPS Send Email Action 50</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varRespAttyEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>reception@modernfamilylaw.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your SimpleStart Result</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;&lt;img src=&quot;https://modernfamilylaw--simplestar.sandbox.file.force.com/sfc/servlet.shepherd/version/download/068VB000008KjUE?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;SimpleStartEmailHeaders_20.jpg&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Hi {!$Record.FirstName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Thank you for submitting your application for a reduced retainer though our SimpleStart program. We want to let you know that you do not qualify for a reduced retainer at this time. While you don’t qualify for our SimpleStart program, we would still love to work with you and to help you with your family law case using our standard retainer for the attorney/LLP you selected:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Name: &lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;{!$Record.Phone_Attorney_First_Name_A__c} {!$Record.Phone_Attorney_Last_Name_A__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Standard Retainer&lt;/strong&gt;&lt;span style=&quot;color: rgb(78, 77, 77);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;:&amp;nbsp;{!$Record.Quoted_Retainer__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Phone :&lt;/strong&gt;&lt;strong style=&quot;color: rgb(78, 77, 77);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;{!$Record.Phone_Attorney_Mobile_A__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(78, 77, 77);&quot;&gt;Email :&lt;/strong&gt;&lt;strong style=&quot;color: rgb(78, 77, 77);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;color: rgb(78, 77, 77); font-size: 16px;&quot;&gt;{!$Record.Phone_Attorney_Email_A__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Someone from our team will also reach out to get things started if we haven&apos;t heard from you. If you have questions or concerns before hiring us, we&apos;re happy to chat more first.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;If you have more questions about our SimpleStart™ Program, our finance team is happy to help.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;Sincerely,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://modernfamilylaw.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Modern Family Law&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;(866) 409-3025&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;ModernFamilyLaw.com&lt;/span&gt;&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attachmentId</name>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Responsible_Attorney__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>CB_of_Responsible_Att</name>
        <label>CB of Responsible Att  ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CB_Responsible_Atty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Responsible_Attorney__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CB_Send_Email_Action_20</targetReference>
            </connector>
            <label>CB Responsible Atty</label>
        </rules>
        <rules>
            <name>CB_Phone_Atty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Phone_Attorney_A__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Responsible_Attorney__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CB1_Send_Email_Action_20</targetReference>
            </connector>
            <label>CB Phone Atty</label>
        </rules>
    </decisions>
    <decisions>
        <name>CF_of_Responsible_Att</name>
        <label>CF of Responsible Att  ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CF_Responsible_Atty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Responsible_Attorney__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CF_Send_Email_Action_0</targetReference>
            </connector>
            <label>CF Responsible Atty</label>
        </rules>
        <rules>
            <name>CF_Phone_Atty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Phone_Attorney_A__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Responsible_Attorney__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CF1_Send_Email_Action_0</targetReference>
            </connector>
            <label>CF Phone Atty</label>
        </rules>
    </decisions>
    <decisions>
        <name>CFR_of_Responsible_Att</name>
        <label>CFR of Responsible Att  ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CFR_of_Responsible_Atty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Responsible_Attorney__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CFR_Send_Email_Action_0</targetReference>
            </connector>
            <label>CFR of Responsible Atty</label>
        </rules>
        <rules>
            <name>CFR_of_Phone_Atty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Phone_Attorney_A__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Responsible_Attorney__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CFR1_Send_Email_Action_0</targetReference>
            </connector>
            <label>CFR of Phone Atty</label>
        </rules>
    </decisions>
    <decisions>
        <name>CG_of_Responsible_Att</name>
        <label>CG of Responsible Att  ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CG_Responsible_Atty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Responsible_Attorney__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CG_Send_Email_Action_0</targetReference>
            </connector>
            <label>CG Responsible Atty</label>
        </rules>
        <rules>
            <name>CG_Phone_Atty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Phone_Attorney_A__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Responsible_Attorney__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CG1_Send_Email_Action_0</targetReference>
            </connector>
            <label>CG Phone Atty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Client_Email_Notification</name>
        <label>Client Email Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Gold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Credit_Decision__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gold - 0% Retainer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Client_Send_Email_Action_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Gold</label>
        </rules>
        <rules>
            <name>Silver</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Credit_Decision__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Silver - 50% Retainer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Client_Send_Email_Action_50</targetReference>
            </connector>
            <label>Silver</label>
        </rules>
        <rules>
            <name>Bronze</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Credit_Decision__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bronze - 80% Retainer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Client_Send_Email_Action_20</targetReference>
            </connector>
            <label>Bronze</label>
        </rules>
        <rules>
            <name>Full_Retainer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Credit_Decision__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Full Retainer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Client_Send_Email_Action_100</targetReference>
            </connector>
            <label>Full Retainer</label>
        </rules>
        <rules>
            <name>Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Credit_Decision__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Failed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Client_Send_Email_Action_Freeze</targetReference>
            </connector>
            <label>Failed</label>
        </rules>
    </decisions>
    <decisions>
        <name>CS_of_Responsible_Att</name>
        <label>CS of Responsible Att  ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CS_Responsible_Atty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Responsible_Attorney__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CS_Send_Email_Action_50</targetReference>
            </connector>
            <label>CS Responsible Atty</label>
        </rules>
        <rules>
            <name>CS_of_Phone_Atty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Phone_Attorney_A__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Responsible_Attorney__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CS1_Send_Email_Action_50</targetReference>
            </connector>
            <label>CS of Phone Atty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Email_Recipient_Type</name>
        <label>Determine Email Recipient Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Client</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Credit_Applicant__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Client_Email_Notification</targetReference>
            </connector>
            <label>Client</label>
        </rules>
        <rules>
            <name>Third_Party</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Credit_Applicant__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Third Party</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Annual_Household_Income</targetReference>
            </connector>
            <label>Third Party</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Found</name>
        <label>Record Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Credit_Check_Completed.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Determine_Email_Recipient_Type</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>TBB_Responsible_Att</name>
        <label>TBB Responsible Att  ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TBB_Responsible_Atty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Responsible_Attorney__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TPPB_Send_Email_Action_20</targetReference>
            </connector>
            <label>TBB Responsible Atty</label>
        </rules>
        <rules>
            <name>TBB_Phone_Atty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Phone_Attorney_A__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Responsible_Attorney__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TPPB1_Send_Email_Action_20</targetReference>
            </connector>
            <label>TBB Phone Atty</label>
        </rules>
    </decisions>
    <decisions>
        <name>TP_Email_Notification</name>
        <label>TP Email Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TP_Gold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Credit_Decision__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gold - 0% Retainer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TPP_Send_Email_Action_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>TP Gold</label>
        </rules>
        <rules>
            <name>TP_Silver</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Credit_Decision__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Silver - 50% Retainer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TPP_Send_Email_Action_50</targetReference>
            </connector>
            <label>TP Silver</label>
        </rules>
        <rules>
            <name>TP_Bronze</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Credit_Decision__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bronze - 80% Retainer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TPP_Send_Email_Action_20</targetReference>
            </connector>
            <label>TP Bronze</label>
        </rules>
        <rules>
            <name>TP_Full_Retainer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Credit_Decision__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Full Retainer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TPP_Send_Email_Action_100</targetReference>
            </connector>
            <label>TP Full Retainer</label>
        </rules>
        <rules>
            <name>TP_Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Credit_Decision__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Failed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TPP_Send_Email_Action_Freeze</targetReference>
            </connector>
            <label>TP Failed</label>
        </rules>
    </decisions>
    <decisions>
        <name>TPFR_Responsible_Att</name>
        <label>TPFR Responsible Att  ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TPFR_Responsible_Atty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Responsible_Attorney__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TPFR_Send_Email_Action_100</targetReference>
            </connector>
            <label>TPFR Responsible Atty</label>
        </rules>
        <rules>
            <name>TPFR_Phone_Atty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Phone_Attorney_A__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Responsible_Attorney__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TPFR1_Send_Email_Action_100</targetReference>
            </connector>
            <label>TPFR Phone Atty</label>
        </rules>
    </decisions>
    <decisions>
        <name>TPG_Responsible_Att</name>
        <label>TPG Responsible Att  ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TPG_Responsible_Atty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Responsible_Attorney__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TPG_Send_Email_Action_0</targetReference>
            </connector>
            <label>TPG Responsible Atty</label>
        </rules>
        <rules>
            <name>TPG_Phone_Atty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Phone_Attorney_A__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Responsible_Attorney__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TPG1_Send_Email_Action_0</targetReference>
            </connector>
            <label>TPG Phone Atty</label>
        </rules>
    </decisions>
    <decisions>
        <name>TPPF_Responsible_Att</name>
        <label>TPPF Responsible Att  ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TPPF_Responsible_Atty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Responsible_Attorney__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TPPF_Send_Email_Action_Freeze</targetReference>
            </connector>
            <label>TPPF Responsible Atty</label>
        </rules>
        <rules>
            <name>TPPF_Phone_Atty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Phone_Attorney_A__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Responsible_Attorney__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TPPF1_Send_Email_Action_Freeze</targetReference>
            </connector>
            <label>TPPF Phone Atty</label>
        </rules>
    </decisions>
    <decisions>
        <name>TPS_Responsible_Att</name>
        <label>TPS Responsible Att  ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TPS_Responsible_Atty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Responsible_Attorney__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TPS_Send_Email_Action_50</targetReference>
            </connector>
            <label>TPS Responsible Atty</label>
        </rules>
        <rules>
            <name>TPS_Phone_Atty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Phone_Attorney_A__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Responsible_Attorney__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TPS1_Send_Email_Action_50</targetReference>
            </connector>
            <label>TPS Phone Atty</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Recipients_Att_Para</name>
        <dataType>String</dataType>
        <expression>IF(
  ISBLANK({!varRespAttyEmail}),
  &apos;&apos;,                       /* nothing */
  {!varRespAttyEmail}
) &amp;
IF(
  AND(
      NOT(ISBLANK({!varRespAttyEmail})),
      NOT(ISBLANK({!varRespParaEmail}))
  ),
  &apos;;&apos;,                      /* separator only if both exist */
  &apos;&apos;
) &amp;
IF(
  ISBLANK({!varRespParaEmail}),
  &apos;&apos;,
  {!varRespParaEmail}
)</expression>
    </formulas>
    <interviewLabel>SS flow3 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SS flow3</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Credit_Check_Completed</name>
        <label>Credit Check Completed?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Responsible_Attorney__c</queriedFields>
        <queriedFields>Responsible_Paralegal__c</queriedFields>
        <queriedFields>Credit_Applicant__c</queriedFields>
        <queriedFields>Credit_Decision__c</queriedFields>
        <queriedFields>Credit_Check_Complete__c</queriedFields>
        <queriedFields>Credit_Check_Submitted__c</queriedFields>
        <queriedFields>Quoted_Retainer__c</queriedFields>
        <queriedFields>Quoted_Retainer_Amount__c</queriedFields>
        <queriedFields>Annual_household_income__c</queriedFields>
        <queriedFields>Phone_Attorney_A__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Annual_Household_Income</name>
        <label>Get Annual Household Income</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Annual_Income</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Third_Party__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Annual_household_income__c</queriedFields>
        <queriedFields>Credit_Applicant__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Annual_Income</name>
        <label>Update Annual Income</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>TP_Email_Notification</targetReference>
        </connector>
        <inputAssignments>
            <field>Annual_household_income__c</field>
            <value>
                <elementReference>Get_Annual_Household_Income.Annual_household_income__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Credit_Check_Completed</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Credit_Report_Link__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Credit_Decision__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>varCCEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Record.Responsible_Paralegal__c}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>varCCTPPEmail</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Responsible_Paralegal__c}, {!$Record.Third_Party__r.PersonEmail}</text>
    </textTemplates>
    <variables>
        <name>varPhoneAttyEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Phone_Attorney_A__r.Email</elementReference>
        </value>
    </variables>
    <variables>
        <name>varRespAttyEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Responsible_Attorney__r.Email</elementReference>
        </value>
    </variables>
    <variables>
        <name>varRespParaEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Responsible_Paralegal__r.Email</elementReference>
        </value>
    </variables>
    <variables>
        <name>varSimpleStartURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
